<section id="contact" class="section text-center py-5">
    <div class="container" data-aos="fade-up">
        <h2 class="section-title mb-5">Get In Touch</h2>
        <p class="lead mb-4">Open to Fresher, full-time roles, or freelance opportunities.</p>
        <div class="d-flex justify-content-center gap-5 fs-2">
            <a href="mailto:minhduongqh0311@gmail.com" class="text-light hover-primary"><i class="bi bi-envelope-at"></i></a>
            <a href="tel:+84376993394" class="text-light hover-primary"><i class="bi bi-telephone"></i></a>
            <a href="https://github.com/MINHDQHe187308" target="_blank" class="text-light hover-primary"><i class="bi bi-github"></i></a>
        </div>
    </div>
</section>